body{
    background-color: "#E1341E"
}
.container{
    display: flex;
    flex: 1; 
    align-self: center;
    justify-content: center;
}
h1 {
    padding-top: 10%;
    font-size: 3em;
}
.colorBtn{
   
    width: 95%;
    padding: 0.5%;
}